In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
dataframe = pd.read_csv("/content/drive/MyDrive/Machine_Learning_Lab_Datasets/4K_House_Rent_Dataset.csv")
dataframe.head()

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner

In [4]:
dataframe.drop(['Posted On','Floor','Area Locality','City','Tenant Preferred','Point of Contact'],axis='columns',inplace=True)
dataframe

      BHK   Rent  Size    Area Type Furnishing Status  Bathroom
0       2  10000  1100   Super Area       Unfurnished         2
1       2  20000   800   Super Area    Semi-Furnished         1
2       2  17000  1000   Super Area    Semi-Furnished         1
3       2  10000   800   Super Area       Unfurnished         1
4       2   7500   850  Carpet Area       Unfurnished         1
...   ...    ...   ...          ...               ...       ...
4741    2  15000  1000  Carpet Area    Semi-Furnished         2
4742    3  29000  2000   Super Area    Semi-Furnished         3
4743    3  35000  1750  Carpet Area    Semi-Furnished         3
4744    3  45000  1500  Carpet Area    Semi-Furnished         2
4745    2  15000  1000  Carpet Area       Unfurnished         2

[4746 rows x 6 columns]

In [5]:
# number of training examples

m = len(dataframe)
m

4746

In [6]:
columns_having_null_values = []

In [7]:
#checking for null values

def check_which_column_has_null_values(df):
    for column in df:
        number_of_not_null_values = df[column].notnull().sum()
        if number_of_not_null_values < m :
            columns_having_null_values.append(column)

In [8]:
check_which_column_has_null_values(dataframe)

In [9]:
# checking whether is there any column which has null values

columns_having_null_values

[]

In [10]:
def print_unique_values_for_column(df):
    for column in df:
        print(f'{column} : {df[column].unique()}')

In [11]:
print_unique_values_for_column(dataframe)

BHK : [2 1 3 6 4 5]
Rent : [  10000   20000   17000    7500    7000    5000   26000   25000    6500
    5500    8500   40000    6000   11000    7900    9000    4000    8000
    5300   12500   15000   22000   21000    7200   12000    4600   30000
    3500   16000   14500    8200    6700   18000   35000  180000   14000
    3900    6300   13000    6800    4700    4500   17500    2200    9500
   16500   10500   50000    5200   24000    3000    3200    1500    3800
    6200    9900   36125   23000    5146   22500   34000    1800    3700
    3300   60000   65000   45000   70000   75000  160000  300000  130000
   33000   32000   49000   28000   33500   85000  270000  400000  150000
  100000   19411  190000   68000  110000   44000   43000   57000   27000
   55000   95000   80000   89000   38000  350000  170000  210000   47000
  120000   62000   42000   41000   84500  220000  310000   53000  250000
   13500   25500   45002   48000  140000  230000  600000   46000   55100
  320000   92500   29999  330000   36000   53500   61000  200000   19000
   18500   19500   90000   93000   69999 1000000   33003  450000  280000
   56000   83000   39000   15500   51000  260000   43500   77500   59000
   72000   52000   51500   98000   23500 1200000   84000  500000    9400
   94000   58000   54500   67000  380000   29500   37000   35500   90100
   77000  290000  240000   26500   54000   76000   79500   63000   28500
  360000   66000  650000  850000   34999   49500   46700   88000   78000
   74999   69000   29000   31000  700000  680000   61500   11400   11500
   32900    6900   27500    9750 3500000    8900   21500    9300   26969
   42500    4300    4800   17681   13900    7700    4750   17600    9250
   14900   20500    2000   17401   44300  530000   20200   31500   22999
   12100   24500    7600   11200   34500    5700   23999    5250   47500
   18999    4200   15723    6250   37500    6166    9800   19397   27999
   10677   32500   23382   19800    1200    5400   12333   21467    5800]
Size : [1100  800 1000  850  600  700  250 1200  400  375  900 1286 2000  660
  650  300 1600  355  350  550  500  630  270 1500 1300 1068  150  450
  720  680  950 1800  480  435 1450  750  220   20  200  840  740  490
  751  280  120 1220  670  190  240 2200  685   44 1110  392  710 1400
  160 1250  839  230  620 1350  723  320 2160 1700  130  505 4000 1190
 1012  812  420 1750  830 1050  960  756  288  986 1330  322 3500  957
 1430 1320  475  780  570  460  530  558  175  425  721 1150 2210  675
 1880  640 1650  518  777 2308  890  888  275  424 2079  586  610  488
  722  470  410  540  932  560 3000  696 2500  715 1337  737  760  365
 2600 1783  565 1514 1080  825  360 1545  432  695 1095  790  661  330
  925 1105 1460  415  585 1755  385  628 1064  845 1915  807  380  428
 1550 1454  860  433 2700 1225 1224  305  690  635 1379  390  935  535
 3700 1208 3200  225  463 1900 1325  905  455  430  795  575  656  719
 3064 3400  980 2800  413 1850 1705 1355  340  471 1528 1030  985  806
  583  994  520 2750 2424  724 1076 2170  485  478  704  525  755  625
  370  805  742  745 1265  325  902 1233 2120 1937 5000  596 1950  510
 1260  770 3900  694 3250 1740  472  421  515  831  753 1197  880 1088
 2650  975  785 1016  444  508  623 1358 1255  955  870 1691  615  663
 1432  649  882  736 1710  555 1065  854  906 1130  495  407 1092  669
  725  999 1256  889  434 1121  937  379  920  440  582 1617  836 2046
  730  229  910 1648  820  771 1526  465 1073  310  967 1649 1560 4500
 1425 1375 1270  265  422  895 1663  377 2080  965 2100 1380  868  970
  774 1152  641  810  875  758 2880 1962  590 1120 2729 3354 1040 1403
 2608 1045 1021 1280 1680 1155 2900 3150  100 1603 1771  773  865 1840
 1159   50  990 1360 1757 1281 1221  416  976 1387 1020 1645 3276 1893
 1296 4800 1066 2150 2110 1025 1180  580  904 1252 2770  144 1005 1274
 1480 1115 1060 1278 4105 1055  894 2400 2430 1475 4341  846  110 5700
 1760 3100  775  445 2710 1768  532 1465  940 1789 1618 1374 1580 4550
 1333 1875 1660 1305 1188 2390 1788 1520 1464  180  140   75 1670   70
   60  170   48 1901  145   25  892   80   45 1125  713   54   63 1440
   55   68   65 2300   84   90  512  446  125  499   30  497   95  272
 2925  106   96  545  165 1872   40   42 2550 3800 1205   77 1027 1428
 2117 1462  674 1540  930 1210 1234 1162 1261 1145 3600 1158  898  717
 1070 2036  619  115 1725 2064 1557  917  579 1920 1002  778 1567 1113
 1175 1010  618 1651  705  901 1340 1246 1099 1530 1780 1402 1484 1140
 1525 1132 3300  786 1785  803 1975  914 1170 1435 1444 1503  966 1062
 1015 1570 1157 2792 1153  506  749 1107 1235 1415  281 6000  926 2280
  826  502  833  809 2240 1424  595 1075 2317 1109 1290  939 1610  973
 1420  843 1144 1903 1383 1912 1146  909  886 1625 1535  647 1798 2061
  919 2395 1815 2290 1473 4050 2520  242 1496  878 1956 1955 1090 3133
 2050 1160 1417 1565 1675 1135 3698 2405 1248 3115  927  562 1720  103
 8000 1730  133  192 1315 1230 4761 1970 1940  167  933 1742 1838 1960
 1275 1285 2235 1283 3455 3050 7000 1606 2352 2671 1156   67 1492 2990
 2780 1685  853 2310 1965 1834   10 3789 1422 1124 4200  214  855]
Area Type : ['Super Area' 'Carpet Area' 'Built Area']
Furnishing Status : ['Unfurnished' 'Semi-Furnished' 'Furnished']
Bathroom : [ 2  1  3  5  4  6  7 10]

In [12]:
dataframe['Area Type'].replace({'Super Area' : 0,'Carpet Area' : 1, 'Built Area': 2},inplace=True)
dataframe['Furnishing Status'].replace({'Unfurnished' : 0,'Semi-Furnished' : 1, 'Furnished': 2},inplace=True)

In [13]:
print_unique_values_for_column(dataframe)

BHK : [2 1 3 6 4 5]
Rent : [  10000   20000   17000    7500    7000    5000   26000   25000    6500
    5500    8500   40000    6000   11000    7900    9000    4000    8000
    5300   12500   15000   22000   21000    7200   12000    4600   30000
    3500   16000   14500    8200    6700   18000   35000  180000   14000
    3900    6300   13000    6800    4700    4500   17500    2200    9500
   16500   10500   50000    5200   24000    3000    3200    1500    3800
    6200    9900   36125   23000    5146   22500   34000    1800    3700
    3300   60000   65000   45000   70000   75000  160000  300000  130000
   33000   32000   49000   28000   33500   85000  270000  400000  150000
  100000   19411  190000   68000  110000   44000   43000   57000   27000
   55000   95000   80000   89000   38000  350000  170000  210000   47000
  120000   62000   42000   41000   84500  220000  310000   53000  250000
   13500   25500   45002   48000  140000  230000  600000   46000   55100
  320000   92500   29999  330000   36000   53500   61000  200000   19000
   18500   19500   90000   93000   69999 1000000   33003  450000  280000
   56000   83000   39000   15500   51000  260000   43500   77500   59000
   72000   52000   51500   98000   23500 1200000   84000  500000    9400
   94000   58000   54500   67000  380000   29500   37000   35500   90100
   77000  290000  240000   26500   54000   76000   79500   63000   28500
  360000   66000  650000  850000   34999   49500   46700   88000   78000
   74999   69000   29000   31000  700000  680000   61500   11400   11500
   32900    6900   27500    9750 3500000    8900   21500    9300   26969
   42500    4300    4800   17681   13900    7700    4750   17600    9250
   14900   20500    2000   17401   44300  530000   20200   31500   22999
   12100   24500    7600   11200   34500    5700   23999    5250   47500
   18999    4200   15723    6250   37500    6166    9800   19397   27999
   10677   32500   23382   19800    1200    5400   12333   21467    5800]
Size : [1100  800 1000  850  600  700  250 1200  400  375  900 1286 2000  660
  650  300 1600  355  350  550  500  630  270 1500 1300 1068  150  450
  720  680  950 1800  480  435 1450  750  220   20  200  840  740  490
  751  280  120 1220  670  190  240 2200  685   44 1110  392  710 1400
  160 1250  839  230  620 1350  723  320 2160 1700  130  505 4000 1190
 1012  812  420 1750  830 1050  960  756  288  986 1330  322 3500  957
 1430 1320  475  780  570  460  530  558  175  425  721 1150 2210  675
 1880  640 1650  518  777 2308  890  888  275  424 2079  586  610  488
  722  470  410  540  932  560 3000  696 2500  715 1337  737  760  365
 2600 1783  565 1514 1080  825  360 1545  432  695 1095  790  661  330
  925 1105 1460  415  585 1755  385  628 1064  845 1915  807  380  428
 1550 1454  860  433 2700 1225 1224  305  690  635 1379  390  935  535
 3700 1208 3200  225  463 1900 1325  905  455  430  795  575  656  719
 3064 3400  980 2800  413 1850 1705 1355  340  471 1528 1030  985  806
  583  994  520 2750 2424  724 1076 2170  485  478  704  525  755  625
  370  805  742  745 1265  325  902 1233 2120 1937 5000  596 1950  510
 1260  770 3900  694 3250 1740  472  421  515  831  753 1197  880 1088
 2650  975  785 1016  444  508  623 1358 1255  955  870 1691  615  663
 1432  649  882  736 1710  555 1065  854  906 1130  495  407 1092  669
  725  999 1256  889  434 1121  937  379  920  440  582 1617  836 2046
  730  229  910 1648  820  771 1526  465 1073  310  967 1649 1560 4500
 1425 1375 1270  265  422  895 1663  377 2080  965 2100 1380  868  970
  774 1152  641  810  875  758 2880 1962  590 1120 2729 3354 1040 1403
 2608 1045 1021 1280 1680 1155 2900 3150  100 1603 1771  773  865 1840
 1159   50  990 1360 1757 1281 1221  416  976 1387 1020 1645 3276 1893
 1296 4800 1066 2150 2110 1025 1180  580  904 1252 2770  144 1005 1274
 1480 1115 1060 1278 4105 1055  894 2400 2430 1475 4341  846  110 5700
 1760 3100  775  445 2710 1768  532 1465  940 1789 1618 1374 1580 4550
 1333 1875 1660 1305 1188 2390 1788 1520 1464  180  140   75 1670   70
   60  170   48 1901  145   25  892   80   45 1125  713   54   63 1440
   55   68   65 2300   84   90  512  446  125  499   30  497   95  272
 2925  106   96  545  165 1872   40   42 2550 3800 1205   77 1027 1428
 2117 1462  674 1540  930 1210 1234 1162 1261 1145 3600 1158  898  717
 1070 2036  619  115 1725 2064 1557  917  579 1920 1002  778 1567 1113
 1175 1010  618 1651  705  901 1340 1246 1099 1530 1780 1402 1484 1140
 1525 1132 3300  786 1785  803 1975  914 1170 1435 1444 1503  966 1062
 1015 1570 1157 2792 1153  506  749 1107 1235 1415  281 6000  926 2280
  826  502  833  809 2240 1424  595 1075 2317 1109 1290  939 1610  973
 1420  843 1144 1903 1383 1912 1146  909  886 1625 1535  647 1798 2061
  919 2395 1815 2290 1473 4050 2520  242 1496  878 1956 1955 1090 3133
 2050 1160 1417 1565 1675 1135 3698 2405 1248 3115  927  562 1720  103
 8000 1730  133  192 1315 1230 4761 1970 1940  167  933 1742 1838 1960
 1275 1285 2235 1283 3455 3050 7000 1606 2352 2671 1156   67 1492 2990
 2780 1685  853 2310 1965 1834   10 3789 1422 1124 4200  214  855]
Area Type : [0 1 2]
Furnishing Status : [0 1 2]
Bathroom : [ 2  1  3  5  4  6  7 10]

In [14]:
cols_to_be_scale = ['BHK','Size','Area Type','Furnishing Status','Bathroom']

In [15]:
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()

dataframe[cols_to_be_scale] = scaler.fit_transform(dataframe[cols_to_be_scale])

In [16]:
print_unique_values_for_column(dataframe)

BHK : [0.2 0.  0.4 1.  0.6 0.8]
Rent : [  10000   20000   17000    7500    7000    5000   26000   25000    6500
    5500    8500   40000    6000   11000    7900    9000    4000    8000
    5300   12500   15000   22000   21000    7200   12000    4600   30000
    3500   16000   14500    8200    6700   18000   35000  180000   14000
    3900    6300   13000    6800    4700    4500   17500    2200    9500
   16500   10500   50000    5200   24000    3000    3200    1500    3800
    6200    9900   36125   23000    5146   22500   34000    1800    3700
    3300   60000   65000   45000   70000   75000  160000  300000  130000
   33000   32000   49000   28000   33500   85000  270000  400000  150000
  100000   19411  190000   68000  110000   44000   43000   57000   27000
   55000   95000   80000   89000   38000  350000  170000  210000   47000
  120000   62000   42000   41000   84500  220000  310000   53000  250000
   13500   25500   45002   48000  140000  230000  600000   46000   55100
  320000   92500   29999  330000   36000   53500   61000  200000   19000
   18500   19500   90000   93000   69999 1000000   33003  450000  280000
   56000   83000   39000   15500   51000  260000   43500   77500   59000
   72000   52000   51500   98000   23500 1200000   84000  500000    9400
   94000   58000   54500   67000  380000   29500   37000   35500   90100
   77000  290000  240000   26500   54000   76000   79500   63000   28500
  360000   66000  650000  850000   34999   49500   46700   88000   78000
   74999   69000   29000   31000  700000  680000   61500   11400   11500
   32900    6900   27500    9750 3500000    8900   21500    9300   26969
   42500    4300    4800   17681   13900    7700    4750   17600    9250
   14900   20500    2000   17401   44300  530000   20200   31500   22999
   12100   24500    7600   11200   34500    5700   23999    5250   47500
   18999    4200   15723    6250   37500    6166    9800   19397   27999
   10677   32500   23382   19800    1200    5400   12333   21467    5800]
Size : [0.13642053 0.09887359 0.12390488 0.10513141 0.0738423  0.08635795
 0.03003755 0.14893617 0.04881101 0.0456821  0.11138924 0.15969962
 0.24906133 0.08135169 0.08010013 0.03629537 0.19899875 0.04317897
 0.04255319 0.06758448 0.06132666 0.077597   0.03254068 0.1864831
 0.16145181 0.13241552 0.0175219  0.05506884 0.08886108 0.08385482
 0.11764706 0.22403004 0.05882353 0.05319149 0.18022528 0.09261577
 0.02628285 0.00125156 0.02377972 0.10387985 0.09136421 0.06007509
 0.09274093 0.03379224 0.01376721 0.1514393  0.08260325 0.02252816
 0.02878598 0.27409262 0.0844806  0.00425532 0.13767209 0.04780976
 0.08760951 0.17396746 0.01877347 0.15519399 0.10375469 0.02753442
 0.07634543 0.16770964 0.08923655 0.0387985  0.26908636 0.21151439
 0.01501877 0.06195244 0.49937422 0.14768461 0.12540676 0.10037547
 0.05131414 0.21777222 0.10262829 0.1301627  0.11889862 0.09336671
 0.03479349 0.12215269 0.16520651 0.03904881 0.43679599 0.11852315
 0.17772215 0.16395494 0.05819775 0.09637046 0.07008761 0.0563204
 0.06508135 0.06858573 0.02065081 0.05193992 0.08898623 0.14267835
 0.27534418 0.08322904 0.23404255 0.07884856 0.20525657 0.06357947
 0.09599499 0.28760951 0.11013767 0.10988736 0.03316646 0.05181477
 0.25894869 0.07209011 0.07509387 0.05982478 0.08911139 0.05757196
 0.05006258 0.06633292 0.11539424 0.06883605 0.37421777 0.08585732
 0.31163955 0.08823529 0.1660826  0.09098874 0.09386733 0.04443054
 0.32415519 0.22190238 0.06946183 0.18823529 0.1339174  0.1020025
 0.04380476 0.19211514 0.05281602 0.08573217 0.13579474 0.09762203
 0.08147685 0.04005006 0.11451815 0.13704631 0.18147685 0.05068836
 0.07196496 0.218398   0.04693367 0.07734668 0.13191489 0.10450563
 0.23842303 0.09974969 0.04630788 0.05231539 0.19274093 0.18072591
 0.10638298 0.05294118 0.33667084 0.15206508 0.15193992 0.03692115
 0.08510638 0.07822278 0.17133917 0.04755945 0.11576971 0.06570713
 0.46182728 0.14993742 0.39924906 0.02690864 0.05669587 0.23654568
 0.16458073 0.11201502 0.05569462 0.05256571 0.09824781 0.07071339
 0.08085106 0.08873592 0.38222778 0.42428035 0.12140175 0.34918648
 0.05043805 0.23028786 0.21214018 0.16833542 0.04130163 0.05769712
 0.18998748 0.12765957 0.12202753 0.09962453 0.07171464 0.12315394
 0.06382979 0.34292866 0.30212766 0.0893617  0.13341677 0.27033792
 0.05944931 0.05857322 0.08685857 0.06445557 0.09324155 0.07697121
 0.04505632 0.09949937 0.09161452 0.09198999 0.15707134 0.03942428
 0.11163955 0.15306633 0.2640801  0.24117647 0.62453066 0.07334168
 0.2428035  0.06257822 0.15644556 0.0951189  0.48685857 0.08560701
 0.40550688 0.21652065 0.05782228 0.0514393  0.06320401 0.10275344
 0.09299124 0.1485607  0.10888611 0.13491865 0.33041302 0.12077597
 0.09699625 0.12590738 0.0543179  0.06232791 0.0767209  0.16871089
 0.15581977 0.11827284 0.10763454 0.21038798 0.07571965 0.08172716
 0.17797247 0.07997497 0.10913642 0.09086358 0.21276596 0.06821026
 0.13204005 0.10563204 0.11214018 0.14017522 0.06070088 0.04968711
 0.13541927 0.0824781  0.08948686 0.12377972 0.15594493 0.11001252
 0.05306633 0.13904881 0.11602003 0.04618273 0.11389237 0.05381727
 0.07158949 0.20112641 0.10337922 0.25481852 0.09011264 0.02740926
 0.1126408  0.20500626 0.10137672 0.09524406 0.18973717 0.05694618
 0.1330413  0.03754693 0.11977472 0.20513141 0.19399249 0.56195244
 0.17709637 0.17083855 0.15769712 0.03191489 0.05156446 0.11076345
 0.2068836  0.04593242 0.25907384 0.11952441 0.26157697 0.17146433
 0.10738423 0.12015019 0.09561952 0.14292866 0.07897372 0.10012516
 0.10826033 0.09361702 0.359199   0.24430538 0.07259074 0.13892365
 0.34030038 0.41852315 0.12891114 0.17434293 0.32515645 0.12953692
 0.12653317 0.15894869 0.20901126 0.14330413 0.36170213 0.39299124
 0.01126408 0.19937422 0.2204005  0.09549437 0.10700876 0.2290363
 0.14380476 0.00500626 0.12265332 0.1689612  0.21864831 0.15907384
 0.15156446 0.05081352 0.12090113 0.17234043 0.12640801 0.20463079
 0.40876095 0.23566959 0.16095119 0.59949937 0.13216521 0.26783479
 0.26282854 0.12703379 0.14643304 0.07133917 0.11188986 0.15544431
 0.34543179 0.01677096 0.12453066 0.15819775 0.18397997 0.13829787
 0.13141427 0.15869837 0.51251564 0.13078849 0.1106383  0.2991239
 0.3028786  0.18335419 0.54205257 0.10463079 0.01251564 0.71214018
 0.21902378 0.38673342 0.09574468 0.05444305 0.3379224  0.22002503
 0.06533166 0.18210263 0.11639549 0.22265332 0.20125156 0.17071339
 0.19649562 0.56821026 0.16558198 0.23341677 0.20650814 0.1620776
 0.14743429 0.29787234 0.22252816 0.18898623 0.18197747 0.0212766
 0.01627034 0.00813517 0.2077597  0.00750939 0.00625782 0.02002503
 0.00475594 0.23667084 0.01689612 0.00187735 0.11038798 0.00876095
 0.00438048 0.13954944 0.08798498 0.00550688 0.00663329 0.17897372
 0.00563204 0.00725907 0.0068836  0.28660826 0.00926158 0.01001252
 0.06282854 0.05456821 0.01439299 0.0612015  0.00250313 0.06095119
 0.0106383  0.03279099 0.36483104 0.01201502 0.01076345 0.0669587
 0.01939925 0.2330413  0.00375469 0.00400501 0.31789737 0.47434293
 0.14956195 0.00838548 0.12728411 0.17747184 0.26370463 0.18172716
 0.08310388 0.19148936 0.11514393 0.15018773 0.15319149 0.14418023
 0.15657071 0.14205257 0.44931164 0.1436796  0.11113892 0.08848561
 0.13266583 0.25356696 0.07622028 0.01314143 0.2146433  0.25707134
 0.19361702 0.1135169  0.07121402 0.23904881 0.12415519 0.09612015
 0.19486859 0.13804756 0.14580726 0.12515645 0.07609512 0.20538173
 0.08698373 0.11151439 0.16645807 0.15469337 0.13629537 0.1902378
 0.22152691 0.17421777 0.1844806  0.14142678 0.18961202 0.14042553
 0.41176471 0.0971214  0.22215269 0.09924906 0.24593242 0.11314143
 0.14518148 0.17834793 0.17947434 0.18685857 0.11964956 0.13166458
 0.12578223 0.19524406 0.14355444 0.34818523 0.14305382 0.0620776
 0.09249061 0.13729662 0.15331665 0.17584481 0.0339174  0.74968711
 0.1146433  0.28410513 0.10212766 0.06157697 0.10300375 0.1
 0.27909887 0.17697121 0.07321652 0.13329161 0.28873592 0.13754693
 0.16020025 0.11627034 0.20025031 0.12052566 0.17647059 0.10425532
 0.14192741 0.23692115 0.1718398  0.23804756 0.14217772 0.11251564
 0.10963705 0.20212766 0.19086358 0.07972466 0.22377972 0.25669587
 0.11376721 0.29849812 0.22590738 0.2853567  0.18310388 0.50563204
 0.31414268 0.0290363  0.18598248 0.10863579 0.24355444 0.24342929
 0.13516896 0.39086358 0.25531915 0.14392991 0.17609512 0.19461827
 0.20838548 0.140801   0.46157697 0.29974969 0.15494368 0.38861076
 0.11476846 0.06908636 0.21401752 0.01163955 1.         0.21526909
 0.01539424 0.02277847 0.16332916 0.15269086 0.59461827 0.24530663
 0.24155194 0.01964956 0.1155194  0.21677096 0.22878598 0.24405507
 0.1583229  0.15957447 0.27847309 0.15932416 0.43116395 0.38047559
 0.87484355 0.19974969 0.2931164  0.3330413  0.14342929 0.00713392
 0.18548185 0.37296621 0.34668335 0.20963705 0.10550688 0.28785982
 0.24468085 0.22828536 0.         0.47296621 0.1767209  0.13942428
 0.52440551 0.02553191 0.1057572 ]
Area Type : [0.  0.5 1. ]
Furnishing Status : [0.  0.5 1. ]
Bathroom : [0.11111111 0.         0.22222222 0.44444444 0.33333333 0.55555556
 0.66666667 1.        ]

In [17]:
x = dataframe.drop('Rent',axis='columns')
y = dataframe['Rent']

In [18]:
x = np.hstack((np.ones((m,1)), x))

In [19]:
x[:5]

array([[1.        , 0.2       , 0.13642053, 0.        , 0.        ,
        0.11111111],
       [1.        , 0.2       , 0.09887359, 0.        , 0.5       ,
        0.        ],
       [1.        , 0.2       , 0.12390488, 0.        , 0.5       ,
        0.        ],
       [1.        , 0.2       , 0.09887359, 0.        , 0.        ,
        0.        ],
       [1.        , 0.2       , 0.10513141, 0.5       , 0.        ,
        0.        ]])

In [20]:
x.shape

(4746, 6)

In [21]:
y.sample(5)

4297      3300
1620    100000
332       6500
4301     20000
4667     11000
Name: Rent, dtype: int64

In [22]:
m

4746

In [23]:
def gradient_descent(x, y, theta, alpha, epochs):
    for i in range(epochs):
        predictions = x.dot(theta)
        errors = np.subtract(predictions, y)
        sum_delta = (alpha / m) * x.T.dot(errors);
        theta = theta - sum_delta;
    return theta

In [24]:
theta = np.zeros(6)
epochs = 5000;
alpha = 0.15;

In [25]:
print(f'{epochs} , {theta} , {alpha}')
theta  = gradient_descent(x, y, theta, alpha , epochs)
print('Final value of theta =', theta)

5000 , [0. 0. 0. 0. 0. 0.] , 0.15
Final value of theta = [-26116.66045671   -494.20256475 194101.89050925  46701.38797001
  13231.66923233 201252.5686301 ]

In [26]:
def compute_cost(x, y, theta):
    predictions = x.dot(theta)
    errors = np.subtract(predictions, y)
    sqrErrors = np.square(errors)
    J = 1 / (2 * m) * np.sum(sqrErrors)
    return J

In [27]:
cost = compute_cost(x, y, theta)  
cost

2329144259.30996